{
    "env": {
        "es6": true
    },
    "globals": {
        "chrome": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true
    },
    "rules": {
        "no-unused-vars": 2
    },
    "extends": [
        "eslint:recommended",
        "./node_modules/mobify-code-style/javascript/.eslintrc"
    ]
}
