{
    "env": {
        "es6": true
    },
    "globals": {
        "chrome": true,
        "$": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true
    },
    "rules": {
        "no-unused-vars": 2,
        "indent": [2,4]
    },
    "extends": [
        "eslint:recommended",
        "airbnb"
    ]
}
