/*
General
*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    width: 500px;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 10px 0px;
}

h4 {
    font-size: 16px;
    margin-top: 0px;
}

.container {
    margin: 10px;
}

#title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: #f6f6f6;
    background-color: #2a2a2a;
    padding: 10px 10px;
}

#title-bar--title > h1 {
    margin: 0px 0px 0px 5px;
    font-size: 25px;
}

#title-bar > #title-bar--title {
    align-items: center;
    display: flex;
}

/*
Inputs
*/

select, input[type="text"] {
    height: 30px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
}

/*
Buttons
*/

.btn-box {
    height: 30px;
    border: 5px solid #2a2a2a;
    border-radius: 5px;
    display: flex;
    background-color: #2a2a2a;
    flex-direction: row;
    margin: 5px 0px;
}

.btn-box > button {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: white;
    font-weight: bold;
    font-size: 14px;
    flex-grow: 1;
}

.btn-box > button:hover {
    background-color: #fafafa;
    color: #2a2a2a;
}

button.btn-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid white;
}

button.btn-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid white;
}

/*
Lists
*/

#tab-list {
    margin-bottom: 20px;
}

.checkbox > label {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 5px 0px;
}

input.article-checkbox {
    margin-right: 10px;
}

/*
Spinner
*/

#downloadSpinner > h2 {
    color: rgba(50, 50, 50, 0.4);
}

#downloadSpinner > h4 {
    color: rgba(50, 50, 50, 0.4);
}

progress {
    margin-bottom: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 25px;
    width: 250px;
}

progress::-webkit-progress-value {
    border-radius: 5px;
    background: #333;
}

progress::-webkit-progress-bar {
    border-radius: 5px;
    background-color: #eee;
}

/*
Status Messages
*/


.status-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 175px;
}

.status-msg > h2 {
    margin: 0px;
}

.status-icon {
    font-size: 90px;
}

#alert-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

#downloadSuccess {
    color: green;
}

#downloadFailed {
    color: red;
    margin-bottom: 20px;
}

/*
Settings
*/

#settingsForm > button {
    margin-top: 10px;
}

div#settings-btn {
    font-size: 15px;
    text-align: center;
    style: bold;
}

div#settings-btn > img {
    width: 100%;
    height: 100%;
}

div#settings-btn {
    height: 30px;
    width: 30px;
}
